<div class="container">
  <button (click)="showAddEventPopup()">Add Event</button>
  <div class="timeSlotContainer" id="timeSlotContainer">
    <div class="timeSlot" *ngFor="let item of timeSlots"> {{item.label}} </div>
    <div *ngFor="let item of eventsInput;let i = index" (click)="editEvent(i)" [ngStyle]="{'top': item.top, 'height':item.height, 'width': item.width, 'left': item.left}" class="eventSlot">{{item.label}}</div>
  </div>
  <div class="popup-container" *ngIf="showCreatePopup">
    <div class="popup">
      <div>
        <input [(ngModel)]="eventObj.label" type="text" placeholder="Label" /><br/>
        <input [(ngModel)]="eventObj.startTime" type="time" placeholder="Start time" />
        <input [(ngModel)]="eventObj.endTime" type="time" placeholder="End time" /><br/>
        <button (click)="addEvent()">Add</button>
      </div>
      <button class="closeButton" (click)="closeEventPopup()">X</button>
    </div>
  </div>
</div>